<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Basics</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3.4.27/dist/vue.global.js"></script>
</head>

<body>

    <div id="app">

        <div id="buttonContainer">
            <button @click="back()">Indietro</button>
            <button @click="next()">Avanti</button>
            <br><input type="number" v-model="activeImage">
        </div>

        <div v-for="image, i in images" class="slide" :class="checkImageVisibility(i)">
            <img :src="image" alt="">
        </div>

        <div id="thumbnailsContainer">
            <img v-for="thumbnail, i in images" :class="checkImageVisibility(i)" :src="thumbnail"
                @click="mostraSlide(i)">
        </div>


    </div>

    <script src="./js/main.js"></script>
</body>

</html>